
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat|Noto+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'res_app/css/paper.css' %}">
    <link rel="stylesheet" href="{% static 'res_app/css/typography.css' %}">
  </head>
  <body>
    <section class="sheet">
      <aside class="">
        <section class="contact-info">
          <h5 class="contact">Contact</h5>
            <ul class="blank">
              <li><i class="fas fa-map-marker-alt"></i> {{resume.person.contactinfo_set.first.address.city}}{% if resume.person.contactinfo_set.first.address.state %}, {{resume.person.contactinfo_set.first.address.state}}
              {% endif %}</li>
              {% if resume.person.contactinfo_set.first.email %}
              <li><i class="fas fa-envelope"></i> <a href="mailto:{{resume.person.contactinfo_set.first.email}}">{{resume.person.contactinfo_set.first.email}}</a></li>
              {% endif %}
            </ul>
        </section>
        <section class="ksas">
            <h5>Technical Skills</h5>
            <ul>
              {% for t in tech %}
                <li>{{t.name}} - {{t.years}}</li>
              {% endfor %}
            </ul>
            <h5>Abilities</h5>
            <ul>
              {% for s in skills %}
                <li>{{s.name}} - {{s.years}}</li>
              {% endfor %}
            </ul>
        </section>
      </aside>
      <section class="main">
        <header>
        <text class="name">  {{resume.person.first_name}} {{resume.person.last_name}} </text>
        <text class="headline">{{resume.headline}}</text>
        <hr>
        </header>
        {% if resume.summary %}
          <section class="summary"></section>
        {% endif %}
        <secion class="experience">
          {% for emp in resume.employment_histories.all  %}
             {% if forloop.first %}
              <h5>Experience</h5>
             {% endif %}
              <h5><span class="align-left">{{emp.employer}}</span> <span class="align-right">{{emp.get_start_date}} - {{emp.get_end_date}}</span></h5>
             {% if forloop.last %}
              <hr>
             {% endif %}
          {% empty %}

          {% endfor %}
        </secion>
      </section>
    </section>
  </body>
</html>
