
{% extends "res_app/base.html" %}

{% load static %}

{% block more_style %}
  <link rel="stylesheet" href="{% static 'res_app/css/index.css' %}">
{% endblock %}

{% block main %}
  <main class="dark-trans-50">
    <ul id="user-dropdown" class="dropdown-content">
      <li><i class="material-icons">face</i> Username: admin</li>
      <li><i class="material-icons">lock</i> Password: pass</li>
    </ul>
    <nav>
      <div class="nav-wrapper dark-trans-50">
        <a href="" class="brand-logo">Resume Builder</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/admin"><i class="material-icons">build</i></a></li>
        </ul>
        <a href="#" data-target="slide-out" class="sidenav-trigger left hide-on-large-and-up"><i class="material-icons">menu</i></a>
        <ul class="right">
          <li>
            <a href="#!" data-target="user-dropdown" class="dropdown-trigger">
              <i class="material-icons">supervisor_account</i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <ul id="slide-out" class="sidenav">
      <li><a href="/admin"><i class="material-icons">build</i> Builder Interface</a></li>
    </ul>
    <div class="container h-90">
      <div class="valign-wrapper h-80">
        <div class="js-load-div container" data-url="{% url 'res_app:resume-list' %}">
          <!-- Resumes loaded here -->
        </div>
      </div>
    </div>

  </main>
{% endblock %}

{% block more_scripts %}
  <script src="{% static 'res_app/js/index.js' %}" charset="utf-8"></script>
  <script type="text/javascript">

    document.addEventListener('DOMContentLoaded', function () {
      resApp.loadDivs()
      M.AutoInit();
    })
  </script>
{% endblock %}
